$primary: #FF7F2A;

$good: #27AE60;
$bad: #E64444;

$dark-0: #0A0A0A;
$dark-1: #121212;
$dark-2: #1E1E1E;

$text-primary: rgba(255, 255, 255, 0.87);
$text-secondary: rgba(255, 255, 255, 0.60);
$text-tetriary: rgba(255, 255, 255, 0.38);

$navbar-height: 60px;